<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tatoe.mydigicoach">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.exercise.ExerciseViewer"
                android:parentActivityName=".ui.MainActivity" />
        <activity
                android:name=".ui.block.BlockViewer"
                android:parentActivityName=".ui.MainActivity" />
        <activity
                android:name=".ui.day.DayViewer"
                android:parentActivityName=".ui.MainActivity" />
        <activity
                android:name=".ui.exercise.ExerciseCreator"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".ui.block.BlockCreator"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".ui.day.DayCreator"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".ui.exercise.ExerciseResults"
                android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>